<app-form-field class="control"></app-form-field>

<hr>

<app-stepper linear>
  <cdk-step [completed]="completed" [label]="'Tab 1'">
    <h4 class="h4"></h4>
    <p>This is step 1 !</p>
    <!-- <button (click)="stepper.next()">Go to step 2</button> -->
  </cdk-step>
  <cdk-step [completed]="completed">
    <h4 class="h4"></h4>
    <p>This is step 2 !</p>
    <!-- <button (click)="stepper.next()">Go to step 3</button> -->
  </cdk-step>
  <cdk-step [completed]="completed">
    <h4 class="h4"></h4>
    <p>This is step 3 !</p>
    <!-- <button (click)="stepper.next()">Go to step 4</button> -->
  </cdk-step>
  <cdk-step [completed]="completed">
    <h4 class="h4"></h4>
    <p>This is step 4 !</p>
  </cdk-step>
  <cdk-step [completed]="completed">
    <h4 class="h4"></h4>
    <p>This is step 5 !</p>
  </cdk-step>
</app-stepper>
